<form  (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="form">
    <div class="grid p-fluid">
        <div class="field col-12 md:col-12">
            <span class="p-float-label">
                <input type="text" pInputText formControlName="titulo">
                <label>Título*</label>
            </span>
        </div>
    </div>
    <div class="grid p-fluid justify-content-end">
        <div class="col-2">
            <button pButton type="submit" [disabled]="form.invalid || loading" label="Salvar" class="p-button-raised p-button-success" [disabled]="form.invalid"></button>
        </div>
    </div>
</form>
