<form  (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="form">
    <p-tabView>
        <p-tabPanel header="Perfil">
            <div class="grid p-fluid mt-0">
                <div class="field col-12 lg:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="nome">
                        <label>Nome*</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <p-dropdown [options]="sexos"  formControlName="sexo" placeholder="Selecione"></p-dropdown>
                        <label>Sexo</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="99/99/9999" formControlName="nascimento" placeholder="99/99/9999"></p-inputMask>
                        <label>Data de Nascimento</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-4">
                    <span class="p-float-label">
                        <p-dropdown [options]="estadoCivis"  formControlName="estadoCivil" placeholder="Selecione"></p-dropdown>
                        <label>Estado Civil</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-4">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="naturalidade">
                        <label>Naturalidade</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-4">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="identidade">
                        <label>Identidade</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-4">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="999.999.999-99" formControlName="cpf"></p-inputMask>
                        <label>CPF</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-4">
                    <span class="p-float-label">
                        <p-dropdown [options]="escolaridades"  formControlName="escolaridade" placeholder="Selecione"></p-dropdown>
                        <label>Escolaridade</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-4">
                    <span class="p-float-label">
                        <p-dropdown [options]="tipoSanguineos"  formControlName="tipoSanguineo" placeholder="Selecione"></p-dropdown>
                        <label>Tipo Sanguíneo</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="profissao">
                        <label>Profissão</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="codigo">
                        <label>Código Auxiliar</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-12">
                    <p-checkbox [binary]="true" label="Inativo" formControlName="inativo"></p-checkbox>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Contatos">
            <div class="grid p-fluid mt-0">
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="secretkey" [readonly]="true">
                        <label>Secret Key</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-6">
                    <span class="p-float-label">
                        <input type="email" pInputText formControlName="email">
                        <label>E-mail</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-6">
                    <span class="p-float-label">
                        <input type="password" pInputText formControlName="password" [autocomplete]="false">
                        <label>Senha</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-6">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="(99)9999-9999" formControlName="telefone"></p-inputMask>
                        <label>Telefone</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-6">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="(99)99999-9999" formControlName="celular"></p-inputMask>
                        <label>Celular</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-4">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="99999-999" formControlName="cep" (onBlur)="searchCep()"></p-inputMask>
                        <label>CEP</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-8">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="logradouro">
                        <label>Endereço</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="numero">
                        <label>Número</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="bairro">
                        <label>Bairro</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="localidade">
                        <label>Cidade</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <p-dropdown [options]="ufs"  formControlName="uf" placeholder="Selecione" [filter]="true"></p-dropdown>
                        <label>UF</label>
                    </span>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Família">
            <div class="grid p-fluid mt-0">
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="conjugueNome">
                        <label>Nome do Conjugue</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="paiNome">
                        <label>Nome do Pai</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="maeNome">
                        <label>Nome da Mãe</label>
                    </span>
                </div>

            </div>
        </p-tabPanel>
        <p-tabPanel header="Ministério">
            <div class="grid p-fluid mt-0">
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="igrejas"  formControlName="igreja" [autoDisplayFirst]="false" [filter]="true" appendTo="body"></p-dropdown>
                        <label>Igreja</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <p-dropdown [options]="cargos"  formControlName="cargo" [autoDisplayFirst]="false" [filter]="true" appendTo="body"></p-dropdown>
                        <label>Cargo</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <p-multiSelect [options]="funcoes" formControlName="funcoes" placeholder="ㅤ" selectedItemsLabel="{0} selecionados" [filter]="true" appendTo="body"></p-multiSelect>
                        <!-- <p-dropdown [options]="funcoes"  formControlName="funcoes" placeholder="Selecione" [filter]="true" appendTo="body"></p-dropdown> -->
                        <label>Funções</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <p-multiSelect [options]="grupos" formControlName="grupos" placeholder="ㅤ" selectedItemsLabel="{0} selecionados" [filter]="true" appendTo="body"></p-multiSelect>
                        <!-- <p-dropdown [options]="grupos"  formControlName="grupos" placeholder="Selecione" [filter]="true" appendTo="body"></p-dropdown> -->
                        <label>Grupos</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label">
                        <p-dropdown [options]="tipos"  formControlName="tipo" placeholder="Selecione" [filter]="true" appendTo="body"></p-dropdown>
                        <label>Tipo</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="99/99/9999" formControlName="conversaoData" placeholder="99/99/9999"></p-inputMask>
                        <label>Data de Conversão</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="99/99/9999" formControlName="batismoData" placeholder="99/99/9999"></p-inputMask>
                        <label>Data de Batismo nas águas</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="99/99/9999" formControlName="batismoData" placeholder="99/99/9999"></p-inputMask>
                        <label>Data de Consagração</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-3">
                    <span class="p-float-label q-focus">
                        <p-inputMask mask="99/99/9999" formControlName="ordenacaoData" placeholder="99/99/9999"></p-inputMask>
                        <label>Data de ordenação</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="acompanhadorNome">
                        <label>Acompanhador</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="discipuladorNome">
                        <label>Discipulador</label>
                    </span>
                </div>
                <div class="field col-12 lg:col-6">
                    <p-checkbox [binary]="true" label="Convertido" formControlName="convertido"></p-checkbox>
                </div>
                <div class="field col-12 lg:col-6">
                    <p-checkbox [binary]="true" label="Batizado" formControlName="batizado"></p-checkbox>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    <div class="grid p-fluid justify-content-end">
        <div class="col-12 lg:col-2">
            <button pButton type="submit" [disabled]="form.invalid || loading" label="Salvar" class="p-button-raised p-button-success" [disabled]="form.invalid"></button>
        </div>
    </div>
</form>
